body {
  font-family: Arial, sans-serif;
}

.client-table-container {
  width: 95%;
  padding: 20px;
}

.add-client-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.add-client-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 600px;
}

.add-client-form-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.add-client-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-client-form-group {
  width: 48%;
}

.add-client-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.add-client-form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e3dfd6;
  border-radius: 5px;
  font-size: 16px;
}

.add-client-form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e3dfd6;
  border-radius: 5px;
  font-size: 16px;
}

.add-client-form-button {
  width: 99%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 1px;
}

.add-client-form-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.add-client-form-link {
  width: 99%;
  padding: 12px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.add-client-form-link:hover {
  background-color: #c00909;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
