.task-statistics-container {
  display: flex;
  justify-content: space-between;
  gap: 5px; 
  flex-wrap: wrap;
  padding: 20px;
}

.task-statistics,
.cases-statistics {
  background: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  width: 48%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title-stats {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.chart-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
  color: #333;
}

.inner-circle strong {
  display: block;
  font-size: 24px;
}

/* .legend {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.legend-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
} */

.legend {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap if necessary */
  gap: 20px; /* Space between items */
  justify-content: start; /* Align items to the left */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 14px;
  margin-top: 10px;
}

.legend-color {
  width: 16px;
  height: 16px;
  margin-right: 8px; /* Space between color box and text */
}

.cases-legend {
  flex-wrap: wrap; /* Allow items to wrap when needed */
}
